 <nav class="navbar navbar-expand-md navbar-collapse-sm navbar-light bg-light">
    <div class="container">
      <div class="navbar-collapse">
        <div class="d-block">
         <a href="#" class="d-block navbar-brand text-center">app</a>
        </div>
          <ul class="navbar-nav ml-auto">
              <li class="navbar-item"></li><a href="#" class="nav-link">ramon</a></li>
              <li class="navbar-item"></li><a href="#" class="nav-link">Ramon</a></li>
              <li class="navbar-item"></li><a href="#" class="nav-link">Ramon</a></li>
              <li class="navbar-item"></li><a href="#" class="nav-link">Ramon</a></li>
              <li class="navbar-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" >Categoria</a>
                <div class="dropdown-menu">
                  <a href="#" class="dropdown-item">mi chiquita</a>
                  <a href="#" class="dropdown-item">cartel de santa</a>
                </div>               
              </li>
              <div>
                  <form class="form-inline">
                  <input type="text" name="buscado" placeholder="buscar" class="form-control">
                  <button class="btn btn-outline-success ml-2 "><i class="fa fa-search"></i></button>
                  </form>
              </div>
              </div>
               
            </ul>
      </div>
   
  </nav>



  